    [[source]]

url = "https://pypi.org/simple"

verify_ssl = true

name = "pypi"



[packages]

django = "*"
djoser = "*"
pillow = "*"
drf-nested-routers = "*"
drf-base64 = "*"
django-filter = "*"
django-debug-toolbar = "*"

mysqlclient = "*"

djangorestframework = "*"

djangorestframework-simplejwt = "*"

django-cors-headers = "*"



[dev-packages]



[requires]

python_version = "3.11"

